span {
    display: inline-block;
  }

  body {
    text-align: center;
    border: 1px;
}

  h1 {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: rgb(73, 67, 57);
      border-bottom: 1px solid black ;
      padding-bottom: 12px;
  }

  div,
  span {
    margin: 5px;
  }

#pics span,
  #text span {
    padding: 25px 30px;
  }

.small-jrpg-images {
  border: 1px solid black;
}  
  .image-text {
    text-align: center;
    text-decoration: none;
    color: rgb(73, 67, 57);
    font-size: large;
  }
  
  #text span {
    background-color: white;
  }
